body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(108, 239, 76);
}

.mainimg {
    margin-top: 10px;
    width: 700px;
    height: 533px;
    background-image: url('images/main4-removebg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#bt1 {
    position: absolute;
    top: 95px;
    left: 505px;
    width: 130px;
    height: 65px;
    border-radius: 50%;
    background: none;
    border: none;
    outline: none;
    z-index: 1;
    
  }

#bt2 {
    position: absolute;
    top: 178px;
    left: 457px;
    width: 130px;
    height: 32px;
    border-radius: 50%;
    background: none;
    border: none;
    outline: none;
    z-index: 1;
  }

#bt3 {
    position: absolute;
    top: 175px;
    left: 670px;
    width: 70px;
    height: 75px;
    border-radius: 5%;
    background: none;
    border: none;
    outline: none;
    z-index: 1;
  }

#bt4 {
    position: absolute;
    top: 168px;
    left: 805px;
    width: 90px;
    height: 85px;
    border-radius: 10%;
    background: none;
    border: none;
    outline: none;
    z-index: 1;
  }

#bt5 {
    position: absolute;
    top: 225px;
    left: 550px;
    width: 110px;
    height: 55px;
    border-radius: 50%;
    background: none;
    border: none;
    outline: none;
    z-index: 1;
  }

  #bt6 {
    position: absolute;
    top: 240px;
    left: 915px;
    width: 125px;
    height: 36px;
    border-radius: 50%;
    background: none;
    border: none;
    outline: none;
    z-index: 1;
  }

  #bt7 {
    position: absolute;
    top: 290px;
    left: 690px;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background: none;
    border: none;
    outline: none;
    z-index: 1;
  }

  #bt8 {
    position: absolute;
    top: 80px;
    left: 828px;
    width: 160px;
    height: 65px;
    border-radius: 50%;
    transform: rotate(155deg);
    background: none;
    border: none;
    outline: none;
    z-index: 1;
  }
.maintext{
    position: absolute;
    left: 10%;
}